body {
    background-color: gray;
    background-image: linear-gradient(to right, #0b0b0b, #4d4f4c, #3b4e2e);
    font-family: 'Mitr', sans-serif;
    text-shadow: 1px 1px .25rem black,  3px 3px .5rem greenyellow;

}

button {
    background-color: #f44336;
    border-radius: .75rem;
    padding: 5px;
    margin: 5px;
    box-shadow: inset .5rem .5rem 1rem gray, .15rem .15rem 3.5rem   rgb(197, 197, 0);
}

h1 {
    font-size: 6rem;
}

li {
    list-style-type: none;
}

.background {
    background-image: url(/assets/img/burger.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-position-x: 50%;
    background-position-y: 10rem;
    margin: 0 auto;width: n px;
    padding: 5rem;
}

.burg-header {
    text-align: center;
    top: 0;
} 

.burg-form, .burg-list {
    text-align: center;
    background-color: rgba(56, 56, 56, 0.6);
    padding: .5rem;
    margin: 1.5rem;
    border: 1rem black;
    border-radius: 1rem;
    box-shadow: inset .5rem .5rem 1rem black, .15rem .15rem 1.5rem gainsboro;
}